<!DOCTYPE html>
<html>
<head>
  <title>Flipbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.js"></script>
</head>
<body>
<div class="container">
	<div class='span6'>
	<ul id="nav">
		<li><%= link_to "Home", root_path %></li>
    	<li><%= link_to "About", about_path%></li>
    	<li><%= link_to "Contact", contact_path%></li>
		<% if logged_in? %>
		<li><%= link_to "Add", create_path%></li>
		<li><%= link_to "Feed", feed_path%></li>
		<li><%= link_to "logout", logout_path%></li>
		<%end%>
	<ul>
	</div>
</div>
<div class="container" id="content">
  <% if flash.notice %><div class="alert alert-success" data-dismiss="alert"><%= flash.notice %><a class="close" data-dismiss="alert" href="#">&times;</a></div><% end %>
  <% if flash.alert  %><div class="alert alert-error" data-dismiss="alert" ><%= flash.alert  %><a class="close" data-dismiss="alert" href="#">&times;</a></div><% end %>
<%= yield %>
</div>
<div class="container">
<footer class='span12'>&copy; Lukundu Lako 2012</footer>
</div>
</body>
</html>
